<% layout("layot/boilerplate.ejs")%>
<body>
    <p>listings</p>
    <%for(let listings of allListing){%>
        <ul><a href="/listings/<%=listings._id%>"><%=listings.title%></a></ul>
        <%}%>
</body>