<% layout("/layot/boilerplate.ejs")%>
<body>
    <p>create new listing</p>
<form method="POST" action="/listings">
  <div style="width:100%">
    <label for="title" class="form-label">Title</label>
    <input type="text" name="listing[title]" placeholder="enter title">
</div>
  <div>
        <label for="description" class="form-label">Description</label>
        <input type="text" name="listing[description]" placeholder="enter description">
    </div>
    <div>
        <label for="price" class="form-label">Price</label>
        <input type="text" name="listing[price]" placeholder="enter price">
    </div>
    <div>
        <label for="location" class="form-label">Location</label>
        <input type="text" name="listing[location]" placeholder="enter location">
    </div>
    <div>
        <label for="country" class="form-label">Country</label>
        <input type="text" name="listing[country]" placeholder="enter country">
    </div>
    <div>
        <label for="image" class="form-label">Image</label>
        <input type="text" name="listing[image]" placeholder="enter url">
    </div>
    <button>create listing</button>
</form>
</body>
</html>