<% layout("/layot/boilerplate.ejs")%>
<div class="row">
<div clas="col-8 offset-2">
<body>
    <p><b style="font-size:2rem;">create new listing</b></p>
<form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" name="listing[title]" class="form-control" required>
    <div class="valid-feedback">Title looks good</div>
    <div class="invalid-feedback">Title is required</div>
</div>
  <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" name="listing[description]" class="form-control" required>
        <div class="valid-feedback">description looks good</div>
    <div class="invalid-feedback">description is required</div>
    </div>
    <div class="row">
    <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Price</label>
        <input type="text" name="listing[price]" class="form-control" required>
    </div>
    <div class="mb-3 col-md-8">
        <label for="location" class="form-label">Location</label>
        <input type="text" name="listing[location]" class="form-control">
    </div>
    </div>
    <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input type="text" name="listing[country]" class="form-control">
    </div>
    <div class="mb-3">
        <label for="image" class="form-label">Upload Image</label>
        <input type="file" name="listing[image]" class="form-control">
    </div>
    <button class="btn mb-3" >create listing</button>
</form>
</div>
</div>
</body>
